.main-bg {
    height: 352px;
    background: url(../img/background-main.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-text {
    font-size: 1.5rem;
    color: var(--color-white);
    line-height: 61px;
    position: relative;
    top: 32%;
}

.main-text p {
    font-weight: bold;
}

.btn-main {
    font-size: 14px;
    text-decoration: none;
    width: 130px;
    height: 51px;
    padding: 16px;
    background: var(--color-blue);
    color: var(--color-white);
}

@media (max-width: 600px) {
    .main-text {
        font-size: 1rem;
    }
}

@media (max-width: 420px) {
    .main-text {
        top: 45%;
        line-height: 45px;
    }
    .main-text h1 {
        font-size: 25px;
    }
    .main-text p {
        font-size: 13px;
    }
}