.navbar-menu {
    display: flex;
    justify-content: space-between;
    height: 115px;
    align-items: center;
}

.box-logo {
    display: flex;
    align-items: center;
    gap: 14px;
}

.logo {
    text-decoration: none;
    color: #2A7AE4;
    font-size: 2rem;
}

.logo-img {
    width: 40px;
}

.box-search {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.input-search {
    height: 40px;
    width: 390px;
    padding: 8px 16px;
    background: #F5F5F5;
    border-radius: 20px;
    border: none;
}

.lupa-search {
    position: relative;
    right: 35px;
}

input.input-search::placeholder {
    position: relative;
    text-align: start;
    font-weight: 400;
    font-size: 14px;
    color: #A2A2A2;
}

.login-btn {
    text-decoration: none;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    cursor: pointer;
    padding: 16px;
    width: 182px;
    text-align: center;
}